<div class="container mt-5">
    <h1>Welcome to the Home Page!</h1>
    <p>This is the home page of our application.</p>
    <a href="add-books" class="btn btn-primary me-2">Add Books</a>
    <a href="add-visitors" class="btn btn-primary">Add Visitors</a>
</div>